body {
  margin: 0;
  padding: 0;
  background: url("./assets/images/ideal.png") fixed;
  background-size: 256px;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "content";
}

.app-wrapper-content {
  grid-area: content;
  background-color: #ffffffd5;
  min-height: 83.7vh;
  padding-bottom: 40px;
}
