body {
  margin: 0;
  padding: 0;
  background: url("./assets/images/turtle-wax-logo.png") fixed;
  background-size: 250px;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "content";
}

.app-wrapper-content {
  grid-area: content;
  background-color: #ffffffc4;
  min-height: 83.5vh;
  padding-bottom: 40px;
}
