body {
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: auto;
  grid-template-columns: auto;
}

.app-wrapper-content {
  grid-area: content;
  background-color: aliceblue;
  max-width: 1200px;
  margin: 0 auto;
}
