/* 
    MAIN 
*/

nav > ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 
    MAIN MENU 
*/
.mainMenu > li {
  position: relative;
  cursor: pointer;
  padding: 14.5px 0px;
  margin: 0 10px;
}

.mainMenu > li > a {
  color: white;
  font-size: 15pt;
  font-weight: 630;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.mainMenu > li > a:hover {
  transform: scaleX(1);
}

.mainMenu > li > a::after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  background-color: #ffffff;
  height: 2px;
  width: 100%;
  top: 45px;
  right: 0;
  z-index: 1;
  transition: all 0.3s ease-out;
  transform: scaleX(0);
}

.mainMenu > li:hover .subMenu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  transition-delay: 0.2s, 0s, 0.3s;
}

.mainMenu > li:hover .icon {
  color: #000000;
  transform: scaleY(-1);
}

.mainMenu > li:hover a::after {
  opacity: 1;
  transform: scaleX(1);
}

.mainMenu > li:nth-child(3) > .subMenu {
  /* overflow-y: scroll; */
  width: 350px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
}

/* .mainMenu > li > a.active {
  color: black;
} */
.mainMenu > li > a.active::after {
  opacity: 1;
  transform: scaleX(1);
  /* background-color: #000000; */
}

/* 
    ICONS 
*/
.mainMenu > li > a .icon {
  color: white;
  padding-left: 3px;
  font-size: 15px;
  transition: all 0.4s linear;
}

/* 
    SUBMENU 
*/

.subMenu {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 200px;
  height: 506px;
  background: whitesmoke;
  position: absolute;
  /* overflow-y: scroll; */
  visibility: hidden;
  opacity: 0;
  top: 104%;
  left: 0;
  z-index: 1;
  border: 1px solid rgb(190, 190, 190);
  border-top: 0;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.301);
  transform: translateY(1em);
  transition: all 0.15s ease-in-out 0s, visibility 0s linear 0s,
    z-index 0s linear 0s;
}

.subMenu a {
  display: block;
  color: black;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 12pt;
  font-weight: 550;
  position: relative;
  transition: all 0.15s linear;
}

.subMenu > li {
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgba(128, 128, 128, 0.514);
}

.subMenu > li:last-child {
  border: none;
}

.subMenu > li:hover {
  /* background-color: #d4d4d4; */
  /* background-color: #16bb24a4; */
  /* background-color: #16bb2494; */
  background: rgb(0, 132, 64);
  background: linear-gradient(
    0deg,
    rgba(0, 132, 64, 0.8830882694874825) 0%,
    rgba(58, 173, 67, 0.8606793059020483) 100%
  );
}

.subMenu > li:hover > .superSubMenu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateX(100%);
  transition-delay: 0.3s, 0s, 0.3s;
}

.subMenu > li > a > img {
  width: 50px;
  position: absolute;
  top: 0;
  left: 10px;
}

.subMenu > li > a > .subIcon {
  position: absolute;
  right: 0;
  top: 35%;
  transition: all 0.4s linear;
}

.subMenu > li:hover .subIcon {
  /* color: #16bb24; */
  color: whitesmoke;
  transform: scaleX(-1);
}

.brands > li > a {
  padding: 15px 10px 15px 70px !important;
  width: 95px;
}
.brands > li {
  border: none;
}

/* 
    SUBMENU 2ND LEVEL
*/

.superSubMenu {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 747.5px;
  height: 499px;
  background: whitesmoke;
  position: absolute;
  overflow-y: scroll;
  opacity: 0;
  top: 0;
  right: 0;
  z-index: -1;
  border: 1px solid rgb(190, 190, 190);
  border-top: 0;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.301);
  transform: translateX(150%);
  /* 150% */
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0s,
    z-index 0s linear 0.01s;
}

/* .superSubMenu>li:hover{
    background-color: #16bb2494;
} */
.superSubMenu a {
  padding: 12px 16px;
}

.superSubMenu > li {
  display: inline-block;
  width: 170.8725px;
  margin: 10px 5px;
  height: 230px;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.superSubMenu > li:hover {
  transform: scale(1.02, 1.02);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.301);
  border-radius: 5px;
  /* background-color: #16bb24a4; */
  background: rgb(0, 132, 64);
  background: linear-gradient(
    0deg,
    rgba(0, 132, 64, 0.8830882694874825) 0%,
    rgba(58, 173, 67, 0.8606793059020483) 100%
  );
}

.superSubMenu > li > a > img {
  width: 140px;
  border-radius: 5px;
}
