.main {
  margin: 25px auto;
  max-width: 1200px;
}

/* 
      BREADCRUMBS
    */

.breadcrumbs {
  background-color: transparent;
}

.link {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.typography {
  display: flex;
}
.breadcrumbIcon {
  font-size: 15px;
  margin-right: 5px;
}
