.main {
  margin: 25px auto;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.item {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 10px;
  border: 1px solid #156e1c;
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
}

.item img {
  height: 157px;
  padding: 20px 20px 20px 20px;
}

.item a {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
}

.brandName {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item:hover .brandName {
  opacity: 1;
}

.item:hover {
  background: rgb(0, 132, 64);
  background: linear-gradient(
    0deg,
    rgba(0, 132, 64, 0.8830882694874825) 0%,
    rgba(58, 173, 67, 0.8606793059020483) 100%
  );
}

.item > a:hover > img {
  opacity: 10%;
}

.item a:active {
  color: -webkit-activeLink;
}

/* 
    BREADCRUMBS
  */

.breadcrumbs {
  background-color: transparent;
  width: 1200px;
  margin: 0 auto;
}

.link {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.typography {
  display: flex;
}
.breadcrumbIcon {
  font-size: 15px;
  margin-right: 5px;
}
