.b_c{
    background-color: #CCCCCC;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.navbar{
    grid-area: navbar;
    height: 60px;
    display: inline-flex;
    align-items: center;
}
.navLink{
    padding: 15.5px 0;
}
.navLink a{
    text-decoration: none;
    color: black;
    font-size: 16pt;
    font-weight: 630;
    padding-right: 40px;
}
.category{
    display: inline-block;
    position: relative;
}
.category_list{
    display: none;
    position: absolute;
    background-color:whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.category_list a{
    display: block;
    padding: 12px 16px;
    font-size: 13pt;
    text-decoration: none;
    color: black;
}
.category:hover .category_list{
    display: block;
}
.category_list a:hover{
    background-color: #e2e2e2;
    color: #22B573;
}
