/* 
    BACKGROUND 
*/
.bImage {
    background: url('../../assets/images/header/header.jpg') no-repeat;
    background-size: 1550px;
    background-position: 0 -450px;
}

.b_c {
    background: radial-gradient(circle at 50% 47%, #42c24daf, #008440);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
}



/* 
    MAIN
*/
.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 42pt;
    font-weight: 550;
}



/* 
    SEARCH
*/
.searchBar {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.searchBar input {
    width: 385px;
    height: 40px;
    padding: 1px 45px 1px 10px;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    transition: all .2s ease-out;
}

.searchBar input:hover {
    box-shadow: 1px 1px 10px 1px rgb(32, 33, 36);
    border-color: rgba(223, 225, 229, 0);
    transform: scale(1.029, 1.029);
}

.searchBar:hover button {
    transform: translateX(7px);
}

.searchBar input:focus {
    box-shadow: 0 2px 6px 0 rgb(32, 33, 36);
    outline: none;
    border-color: rgba(223, 225, 229, 0);
}

.searchBar button {
    cursor: pointer;
    position: absolute;
    right: 500px;
    height: 46px;
    border: none;
    background-color: transparent;
    transition: all .2s ease-out;
}

.searchBar button:focus {
    outline: none;
}

.searchBar button .icon {
    font-size: 30px;
    color: black;
}



/* 
    USER FUNCTIONS & ICONS
*/
.userFnBlock {
    display: flex;
}

.iconBlock {
    position: relative;
    padding-right: 25px;
}

.iconBlock a {
    color: black;
}

.iconBlock a:hover .icon {
    display: block;
    color: black;
    transform: scale(1.2, 1.2);
}

.icon {
    color: whitesmoke;
    font-size: 50px;
    transition: all .2s ease-in;
}
